/*  your css code here. If applicable */
body {
	background-color: rgb(204, 204, 204);
}

h1, h2 {
	text-align: center;
	font-weight: bold;
}

.playlist-box {
	background: rgb(255,255,255);
	border: 1px solid #000;
	padding: 12px 20px;
	border-radius: 8px;
	width: 90%;
	max-width: 400px;
	margin: 20px auto;
}

.playlist-box ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.player_one, .player_two {
	background: rgb(255,255,255);
	padding: 16px;
	border-radius: 8px;
	width: 90%;
	max-width: 600px;
	margin: 20px auto;
}

a {
	text-decoration-line: none;
}